{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "useDefineForClassFields": false
    },
    "target": "esnext",
    "keepClassNames": true,
    "baseUrl": "./",
    "paths": {
      "#src/*": ["./src/*"],
      "#test/*": ["./src/test/*"]
    }
  },
  "module": {
    "type": "nodenext"
  },
  "sourceMaps": true
}
